<br>
<div class="container">
  <div class="well-block">
    <div class="well-title">
      <div class="title">Alimentaire</div>
      <br>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('RIZ')">Riz</li>
        <li class="typeProduit" (click)="voirProduits('PATES')">Pâtes</li>
        <li class="typeProduit" (click)="voirProduits('CEREALES')">Céréales</li>
        <li class="typeProduit" (click)="voirProduits('GRAINES')">Graines</li>
      </ul>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('FARINE')">Farines</li>
        <li class="typeProduit" (click)="voirProduits('FRUITS')">Fruits</li>
        <li class="typeProduit" (click)="voirProduits('LEGUMINEUSE')">Légumineuses</li>
        <li class="typeProduit" (click)="voirProduits('BISCUITS_SALE')">Biscuits salés</li>
      </ul>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('BISCUITS_SUCRES')">Biscuits sucrés</li>
        <li class="typeProduit" (click)="voirProduits('AIDES_CULINAIRES')">Aides culinaires</li>
        <li class="typeProduit" (click)="voirProduits('FLEUR_DE_SEL')">Fleur de sel</li>
        <li class="typeProduit" (click)="voirProduits('CONDIMENTS')">Condiments</li>
      </ul>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('EPICES')">Epices</li>
        <li class="typeProduit" (click)="voirProduits('INFUSIONS')">Infusions</li>
        <li class="typeProduit" (click)="voirProduits('THE')">Thé</li>
        <li class="typeProduit" (click)="voirProduits('CAFE')">Café</li>
      </ul>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('SUCRE')">Sucre</li>
      </ul>
      <br>
      <div class="title">Cosmétique</div>
      <br>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('MASQUE')">Masque</li>
        <li class="typeProduit" (click)="voirProduits('BIEN_ETRE')">Bien-être</li>
      </ul>
      <br>
      <div class="title">Hygiène</div>
      <br>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('SAVON')">Savon</li>
        <li class="typeProduit" (click)="voirProduits('SHAMPOING')">Shampoing</li>
      </ul>
      <br>
      <div class="title">Entretient</div>
      <br>
      <ul class="type-produit-case">
        <li class="typeProduit" (click)="voirProduits('LINGE')">Linge</li>
        <li class="typeProduit" (click)="voirProduits('VAISELLE')">Vaiselle</li>
      </ul>
    </div>
    <br>
  </div>
</div>

