.wrapper{
  display: inline;
}

.typeElement{
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  color: forestgreen;

  margin-top:30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.typeProduit ul {
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top:20px;

  width:150px;
  height:75px;
  text-align: left;

  position: relative;
  border: 0.5px solid forestgreen;
  background:white;
  color:forestgreen;
  font-size: 16px;
  list-style-type: none;
  display: inline-grid;

}

.CategorieElement li{
  width: 100%;
}

.CategorieProduit li:hover{
  cursor:pointer
}
